<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>OKAERI 你回來了型男食堂 居酒屋</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/main.css?v=3">
</head>

<body>
    <div class="content1 clearfix">
        <div class="content-info clearfix">
            <div class="col-xs-12">
                <img src="../static/pic/about2.jpg"></img>
            </div>
            <div class="col-xs-12">
                <h4>BUTABARA TO THE WORLD 焼とりの八兵衛</h4>
                <p>
                    “承傳三代精肉店的根基下，培養出對食材的精準掌握力” “在備長炭的高溫下，一氣呵成，展現細膩極致的職人燒烤技術” “備受女性喜愛、華麗且沉穩的空間氛圍” “總是早一步察覺客人的需要、細心周到的待客之道” “堅守基本，同時不斷追求創新的精神”
                    秉持著以上五大特點，打造出「八兵衛 博多串燒」的原型，將博多的串燒傳達給全世界的人們，堅信著這是我們的使命。 </p>
            </div>
        </div>
    </div>
</body>

</html>