.content1 {
  position: relative;
  padding: 30px 0;
}
.content1:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  background-color: #fff;
  background-image: url(../pic/about1.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.7;
  width: 100%;
  height: 100%;
}
.content-info {
  position: relative;
  margin: 0 auto;
  padding: 25px 10px ;
  max-width: 1100px;
  width: 90%;
  background-color: white;
  z-index: 1000;
}
.content-info div:first-child {
  float: left;
  width: 300px;
  margin: 0 20px;
}
.content-info div:first-child > img {
  width: 100%;
}
.content-info div:last-child {
  float: left;
  width: 50%;
}
.content-info div:last-child > h4 {
  margin-top: 0px;
}
@media (max-width: 768px) {
  .content-info div:first-child {
    margin: 0 0 30px 0 ;
    text-align: center;
    width: 100% ;
  }
  .content-info div:first-child > img {
    height: auto;
    width: 90%;
    max-width: 400px;
  }
  .content-info div:last-child {
    width: 100%;
    padding: 0 10px;
  }
}
