.content2 {
  position: relative;
  padding: 30px 0;
}
.content2:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  background-color: #fff;
  background-image: url(../pic/about1.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.7;
  width: 100%;
  height: 100%;
}
.content2-info {
  position: relative;
  margin: 0 auto;
  padding: 10px 30px 30px 30px ;
  max-width: 1100px;
  width: 90%;
  background-color: white;
  z-index: 1000;
}
@media (max-width: 500px) {
  .content2-info {
    padding: 10px 10px 10px 20px;
  }
}
.content2-info > .info-map {
  float: left;
  width: 450px;
  height: 300px;
  margin-right: 30px;
  margin-top: 10px;
}
@media (max-width: 900px) {
  .content2-info > .info-map {
    width: 90%;
    min-height: 200px;
  }
}
.content2-info > .info-text {
  float: left;
  width: 400px;
  font-size: 16px;
  color: #74787E;
  margin-top: 20px;
}
.content2-info > .info-text > ul > li {
  margin-bottom: 10px;
}
.content2-info > .info-text > ul > li > span > a {
  color: #74787E;
}
@media (max-width: 900px) {
  .content2-info > .info-text {
    margin-top: 20px;
    width: 100%;
  }
}
